<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-lg-3">
    <h1 class="my-4">Projects</h1>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
      <%= link_to 'New Project', new_project_path, class: 'list-group-item' %>
    </div>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="row">

      <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to project.name, project %>
            </h4>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

